


@mixin gradients ($left, $right){

	background: $left;
	background: -moz-linear-gradient(-90deg, $left 0%, $right 100%); 
	background: -webkit-linear-gradient(-90deg, $left 0%, $right 100%);
	background: linear-gradient(-90deg, $left 0%,$right 100%); 
	background-size: cover;

}


@mixin font-courier($size: false, $colour: $font-main, $weight: false,  $lh: 1em) {
    font-family: 'Courier New', Courier, monospace, Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

